$white: #EBF7FF;
$lightBlue: #57B0C7;
$blue: #276891;
$black: #0D0C1D;

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*, :after, :before {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif !important;
  color: #EBF7FF;
  background-color: #0D0C1D;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #57B0C7 0%, #276891 100%);
}

html::-webkit-scrollbar-track {
  background-color: #0D0C1D; 
}

html.white::-webkit-scrollbar-track {
  background-color: #EBF7FF; 
}

::selection {
  text-shadow: 0 0 6px #CEC9C9, 0 0 20px rgba(206, 201, 201, 0.3);
}